$icon-size: 18px;
$icon-size-lg: 24px;
$small-font-size: 7px;
$small-font-size-lg: 10px;
$normal-font-size: 12px;
$normal-font-size-lg: 14px;
$title-font-size: 15px;
$title-font-size-lg: 19px;
$big-font-size: 17px;
$big-font-size-lg: 26px;
$paragraph-font-size: 10px;
$paragraph-font-size-lg: 12px;
$base-little-margin-bottom: 4px;
$base-normal-margin-bottom: 12px;
$section-space: .9rem;
$section-space-lg: 3.5rem;
$main-container-space: .9rem;
$main-container-space-lg: 4rem;


$break-point-sm-md: 576px;
$break-point-lg: 768px;
$break-point-xl: 992px;
$break-point-xxl: 1200px;






i {
    font-size: $icon-size;
}

li, p, button {
    font-size: $normal-font-size;
}

.little-icon {
    font-size: $paragraph-font-size;
}

.normal-icon {
    font-size: $normal-font-size;
}

.small-text {
    font-size: $small-font-size;
}

.paragraph-text {
    font-size: $paragraph-font-size;
}

.normal-text {
    font-size: $normal-font-size;
}

.title-text {
    font-size: $title-font-size;
}



.big-text {
    font-size: $big-font-size;
}

.normal-space {
    margin-bottom: $base-normal-margin-bottom;
}

.little-space {
    margin-bottom: $base-little-margin-bottom;
}

.box-padding{
    padding: 2rem 2rem;
    box-sizing: border-box;
}

.box-padding-little{
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.section-space {
    margin-top: $section-space;
}


.main-container-padding {
    padding-left:$main-container-space;
    padding-right:$main-container-space;
}

.main-container-margin {
    margin-left: $main-container-space;
    margin-right: $main-container-space;
}

.main-container-padding {
    padding-left: $main-container-space;
    padding-right: $main-container-space;
}




@media screen and (min-width: $break-point-lg) {

    i {
        font-size: $icon-size-lg;
    }


    li, p, button {
        font-size: $normal-font-size-lg;
    }

    .normal-space {
        margin-bottom: calc(#{$base-normal-margin-bottom} * 2);
    }

    .little-space {
        margin-bottom: calc(#{$base-little-margin-bottom} * 3);
    }
    .small-text {
        font-size: $small-font-size-lg;
    }
    .normal-text {
        font-size: $normal-font-size-lg;
    }

    .title-text {
        font-size: $title-font-size-lg;
    }
    .paragraph-text {
        font-size: $paragraph-font-size-lg;
    }
    .big-text {
        font-size: $big-font-size-lg;
    }

    .little-icon {
        font-size: $paragraph-font-size-lg;
    }

    .normal-icon {
        font-size: $normal-font-size-lg;
    }



    .section-space {
        margin-top: $section-space-lg;
    }



    .box-padding{
        padding: 3rem 3rem;
        box-sizing: border-box;
    }

    .box-padding-little{
        padding: 1.9rem 1.9rem;
        box-sizing: border-box;
    }

    .main-container-padding {
        padding-left: $main-container-space-lg;
        padding-right: $main-container-space-lg;
    }

    .main-container-margin {
        margin-left: $main-container-space-lg;
        margin-right: $main-container-space-lg;
    }

    .main-container-padding {
        padding-left: $main-container-space-lg;
        padding-right: $main-container-space-lg;
    }

}











