.d-grid{
    margin: 0 auto;
    display: grid;
    width:100%;
}


.gap-1{
    grid-gap: 1rem;
}

.gap-2{
    grid-gap: 2rem;
}


@media screen and (max-width: $break-point-sm-md) {
    .col-sm-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .col-sm-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .col-sm-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-sm-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: $break-point-sm-md) {


    .col-lg-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .col-lg-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .col-lg-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-lg-4{
        grid-template-columns: repeat(4, 1fr);
    }


}

@media screen and (min-width: $break-point-lg) {
    .col-lg-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .col-lg-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .col-lg-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-lg-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: $break-point-xl) {
    .col-xxl-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .col-xxl-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .col-xxl-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-xxl-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: $break-point-xxl) {
    .col-xxl-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .col-xxl-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .col-xxl-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-xxl-4{
        grid-template-columns: repeat(4, 1fr);
    }
}


