#aside {
    background: $primary-light;
    position: fixed;
    width: 300px;
    top: 64px;
    bottom: 0;
    padding-bottom: 64px;
    ul {
        margin-inline-start: $main-container-space;
        margin-top: $main-container-space;
    }
}

body[class *= "direction-rtl"] #aside {
    direction: ltr;
}

body[class *= "direction-ltr"] #aside {
    direction: rtl;
}

#aside{
    overflow: scroll;
}



@media screen and (min-width: $break-point-lg) {

    #aside {
        ul {
            margin-inline-start: $main-container-space-lg;
            margin-top: $main-container-space-lg;
        }

    }
}
