#aside {
    background: $primary-light;
    position: fixed;
    top: 64px;
    bottom: 0;
    padding-bottom: 64px;
    overflow: scroll;

    > ul {
        margin-inline-start: $main-container-space;
        margin-inline-end: $main-container-space;
        margin-top: $main-container-space;

        > li {
            margin-top: 14px;

            > a {
                margin-inline-start: 16px;

            }
        }
    }
}

body[class *= "direction-rtl"] #aside {
    direction: ltr;

    > ul {
        direction: rtl;
    }
}


body[class *= "direction-ltr"] #aside {
    direction: rtl;

    > ul {
        direction: ltr;
    }
}


@media screen and (min-width: $break-point-lg) {

    #aside {
        ul {
            margin-inline-start: $main-container-space-lg;
            margin-top: $main-container-space-lg;
        }

    }
}
