#aside {
    background: $primary-light;
    position: fixed;
    width: 300px;
    top: 64px;
    bottom: 0;

    ul {
        margin-inline-start: $main-container-space;
        margin-top: $main-container-space;
    }
}



@media screen and (min-width: $break-point-lg) {

    #aside {
        ul {
            margin-inline-start: $main-container-space-lg;
            margin-top: $main-container-space-lg;
        }

    }
}
