@font-face {
    font-family: "GoogleSans";
    src: url(/assets/fonts/en-font/ProductSans-Regular.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "GoogleSans";
    src: url(/assets/fonts/en-font/ProductSans-Bold.woff) format("woff");
    font-weight: bold;
}
