

body{
    margin: 0;
    text-align:start;
}

dl, ol, ul{
    margin: 0;
}

*{
    scrollbar-color: $scrollbar-background-color $scrollbar-thumb-color;
    scrollbar-width: thin;
}

a:hover{
    color: $primary-color !important;
    text-decoration: none;
}

a{
    color: black;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}


