$primary-color-dark : #00365A;
$primary-color : #075B9A;
$primary-color-light : #0080d9;

$scrollbar-thumb-color: #eaeaea;
$scrollbar-background-color: #00365A;

$aside-width-mobile : 70vw;

$bs-breadcrumb-divider: '>';
