$primary: #3F51B5;
$primary-light: #f2f5ff;;
$on-primary-container: #221B00;
$secondary: #665E40;
$secondary-container: #EEE2BC;
$on-secondary-container: #211B04;
$teritiary: #696000;
$teritiary-container: #F4E567;
$on-teritiary-container: #1F1C00;
$outline: #7C7767;
$background: #FFFBFF;
$background-card: #F9F4F5;
$background-card-light: #FCF7F9;
$background-image-color: white;
$variant: #EAE2CF;
$soft-secondary:#D8D2CB;
$category-color:#1D6BE0;
$border-color:#A09E9E;

/* DIMS */
$drawer-menu-width: 50vw;
$nav-menu-height: 64px;
$md-breakpoint: 576px;
$lg-breakpoint: 768px;
$xl-breakpoint: 992px;
$xxl-breakpoint: 1200px;


$box-border-radius: 20px;
$small-border-radius: 4px;
$card-content-padding: 10px;

/* TIMES*/
$drawer-animation-time: 200ms;
$menu-expand-time: 200ms;



$semantic-1 : 1rem;
$semantic-2 : 2rem;
$semantic-3 : 3rem;
$semantic-0-3 : .3rem;




